.message {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.imageAndText {
    border: 1px solid;
    display: flex;
    flex-direction: row-reverse;
}

.imageAndText img {
    height: 50px;
}

.text {
 display: flex;
    flex-direction: column;
    justify-content: space-between ;
    align-items: flex-end;
}

.text:after {
    /*background-color: #e5cd0a;*/
    /*border: 1px solid;*/
}

.name {
    /*background-color: #c30be0;*/
    /*border: 1px solid;*/
}

.messageText {
    /*background-color: #ee62a8;*/
    /*border: 1px solid;*/
}

.time {
    /*background-color: #c78def;*/
    /*border: 1px solid;*/
}