.App {
    --header_height: 60px;
}

.hw {


}

.hwTitle {
    background-color: #DDEEFF;
    border: 1px solid;
    font-size: larger;
    font-weight: bold;
    display: flex;
    text-align: justify-all;
}